.Input {
    width: calc(100% - 1rem);
    background: none;
    padding: .5rem;
    outline: none;
    border: none;
}

.Input_light {
    color: #1C2D37;
    border-bottom: 1px solid #1c2d3742;
}

.Input_light:focus {
    border-bottom: 1px solid #1C2D37;
}

.Input_dark {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.208);
}

.Input_dark:focus {
    border-bottom: 1px solid white; 
}
